---
import sendGrid from '@sendgrid/mail';

import Headline from '~/components/ui/Headline.astro';
import WidgetWrapper from '~/components/ui/WidgetWrapper.astro';
import type { Contact } from '~/types';
import FeedbackForm from "~/components/FeedbackForm"

sendGrid.setApiKey( import.meta.env.SENDGRID_API_KEY );


// if (Astro.request.method === 'POST') {
//   try{
//     // Getting posted data from our contact form
//     const data = await Astro.request.formData();
//     const name = data.get('name');
//     const email = data.get('email');
//     const message = data.get('message');

//     console.log({
//       data,
//       email, 
//       name
//     })

//     // TODO: Do not forget to do validation and error handling over received data from your contact form.

//     // Sending email
//     const msg = {
//       to: 'contact@kogeistudio.com', // Change to your recipient
//       from: 'contact@kogeistudio.com', // Change to your verified sender
//       replyTo: {email:email, name:name},
//       subject: `Contact form submission from ${name}`,
//       text: message,
//     }
//     // await sendGrid.send(msg).then(() => {
//     //   console.log('Email sent')
//     // }).catch((error) => {
//     //   console.error(error)
//     // });

//   } catch (error) {
//     console.error(error);
//   }
// }

const {
  title = await Astro.slots.render('title'),
  subtitle = await Astro.slots.render('subtitle'),
  tagline = await Astro.slots.render('tagline'),
  id,
  isDark = false,
  classes = {},
  bg = await Astro.slots.render('bg'),
} = Astro.props as Contact;
---

<WidgetWrapper id={id} isDark={isDark} containerClass={`max-w-7xl mx-auto ${classes?.container ?? ''}`} bg={bg}>
  <Headline title={title} subtitle={subtitle} tagline={tagline} />
  <div class="flex flex-col w-full backdrop-blur bg-white border border-gray-200 dark:bg-slate-900 dark:border-gray-700 lg:p-8 max-w-xl mx-auto p-4 rounded-lg shadow sm:p-6" id="mc_embed_shell">

    <FeedbackForm client:load />

  <!-- <div id="formContainer">
  <form method="post" action="/api/send">
    <div class="columns">
      <fieldset class="mb-6">
        <label class="block text-xs mb-2 font-medium" for="name">Name</label>
        <input class="w-full bg-white border border-gray-200 dark:bg-slate-900 dark:border-gray-700 rounded-lg block px-4 py-2 text-md"  type="text" id="name" value="" />
      </fieldset>
    </div>
    <fieldset class="mb-6 min-h-[90px]">
      <label class="block text-xs mb-2 font-medium" for="email">Email</label>
      <input class="w-full bg-white border border-gray-200 dark:bg-slate-900 dark:border-gray-700 rounded-lg block px-4 py-2 text-md"  type="email" id="email" value="" />
      <div id="emailError" class="text-red-500 text-xs mt-2 hidden">Please enter a valid email address.</div>
    </fieldset>
    <fieldset class="mb-6">
      <label class="block text-xs mb-2 font-medium" for="message">Message</label>
      <textarea class="w-full bg-white border border-gray-200 dark:bg-slate-900 dark:border-gray-700 rounded-lg block px-4 py-2 text-md"  id="message"></textarea>
    </fieldset>
    <div class="grid mt-10">
      <button class="btn-primary" type="submit">Submit</button>
    </div>
  </form>
</div>

  <div id="thankYouNotice" class="hidden">
    <p>Thank you for your contact!</p>
    <p>You'll be hearing from us shortly.</p>
  </div>
</div> -->

</WidgetWrapper>

<style>
  .btn-primary:disabled {
    background-color: #f4f4f4;
    color: #a0a0a0;
    border-color: #d9d9d9;
    cursor: not-allowed;
  }
</style>

<!-- <script is:inline>
  const get = (id) => document.getElementById(id) || { value: '' };

  const submitForm = async () => {
    saveInput();
    await sendmail();
    clearForm();
    showThankYouNotice();
  };

  const showThankYouNotice = () => {
    document.getElementById('formContainer').classList.add('hidden');
    document.getElementById('thankYouNotice').classList.remove('hidden');
  };

  const clearForm = () => {
    document.getElementById('form').reset();
  };

  // save and retrieve generic formdata from localstorage
  const getFormData = () => {
    const store = Object.create(null);
    store.name = get('name')?.value;
    store.email = get('email')?.value;
    store.message = get('message')?.value;
    return store;
  };

  const saveInput = () => {
    const { message, subject, ...rest } = getFormData();
    localStorage.setItem('contactinfo', JSON.stringify(rest));
  };

  // const retrieveInfo = () => {
  //   const store = JSON.parse(localStorage.getItem('contactinfo') || '{}');
  //   get('name').value = store.name || '';
  //   get('email').value = store.email || '';
  // };
  // end: localstorage

  var emailInput = document.getElementById('email');
  var emailError = document.getElementById('emailError');

  // This kicks thing of, should really be on window.onload but...
  const submitBtn = document.querySelector('[type="submit"]');
  submitBtn?.addEventListener('click', submitForm);
  

  emailInput.addEventListener('input', function() {
    if (emailInput.validity.valid) {
      submitBtn.disabled = false;
      emailError.classList.add('hidden');
    } else {
      submitBtn.disabled = true;
      emailError.classList.remove('hidden');
    }
  });

  // retrieveInfo();
  [...document.querySelectorAll('input')][0]?.focus();
  const sendmail = async () => {
    const { name, email, message } = getFormData();
    const data = await fetch('/api/sendmail.json', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json',
      },
      body: JSON.stringify({ name, email, message }),
    })
      .then((res) => {
        if (!res.ok) {
          throw new Error(res.status);
        }
        return res.json();
      })
      .catch((err) => {
        console.log('Error', err);
        throw new Error('Network error.');
      });
    console.log(data); 
    console.log({
      name, email, message
    })
  };
</script> -->
